.App {
  font-family: sans-serif;
  text-align: center;
  background: url("https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 645px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.quotebox {
  padding-top: 15%;
  padding-left: 300px;
  padding-right: 300px;
}

.quotebox > div {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  font-size: 30px;
}

button {
  padding: 10px 50px;
  margin-bottom: 30px;
  background: tomato;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  font-size: 20px;
}
